.gallery-grid {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-gap: 1em;
    grid-auto-flow: dense;
}

.gallery-grid a,
.gallery-grid span,
.gallery-grid img {
    display: block;
}

.gallery-grid img {
    width: 100%;
    height: auto;
}

.gallery-grid li {
    display: block;
    list-style: none outside;
    position: relative;
    overflow: hidden;
    grid-column: span 2;
}

.gallery-grid li:before {
    display: block;
    content: '';
    padding-top: 50%;
}

.gallery-grid li.portrait {
    grid-column: span 1 ;
    grid-row: span 2;
    align-items: center;
    
}

.gallery-grid li.portrait a {
    display: flex;
}

.gallery li.small img,
.gallery-grid li.portrait img {
    width: auto;
    height: 100%;
}

.gallery-grid li.portrait:before {
    padding-top: 200%;
}

.gallery-grid li.small {
    grid-column: span 1;
    grid-row: span 1;
}

.gallery-grid li.small:before {
    padding-top: 100%;
}

.gallery-grid li > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gallery-grid li > a:hover {}

.gallery-grid li > a:hover img {
    position: relative;
    z-index: 1;
}

.gallery-grid li > a:hover:before {
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gallery-grid li > a:hover strong {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 3;
    color: #FFF;
}