.site-nav {
    margin: 0 1em 1em 0;
}

.site-nav>ul {
    display: flex;
    padding: 0;
    text-align: center;
}

.site-nav li {
    display: block;
    list-style: none outside;
    margin-right: 0.5em;
}

.site-nav li:first-child {
    padding-left: 0;
}

.site-nav a {
    display: block;
    padding: 0.5em 1.5em;
    border-radius: 0.3em;
    background: #435F49;
    color: #DEEABC;
}

.site-nav li.selected > a,
.site-nav a:hover {
    /* background: var(--color-link-default);
    color: var(--color-body-bgrd); */
    background: var(--color-body-bgrd);
    color: var(--color-link-default);
}

.site-nav a i.fas:before {
    color: #000;
    margin-right: 0.5em;
}

.site-nav li.selected > a i.fas:before,
.site-nav a:hover i.fas:before {
    color: #EEE;
}
