.big-img {
    display: block;
    margin: 3em 1em 3em 0em;
    padding: 2em 2em 10em 2em;
    background: linear-gradient(#d5ecc7, transparent),
        url(/images/stenata.jpg) center;
    background-size: cover;
    border-radius: 2%;
}

.big-img h1,
.big-img h2 {
    padding-top: 0 ;
    padding-bottom: 0;
    text-align: left;
    color:  #24513D;
}

.history-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 1em 1em 1em 0;
    padding: 2em 0;
}

ul.h-content {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.h-content li {
    width: 30%;
    padding: 2em 1em 1em 1em;
    background: #435F49;
    color: #DEEABC;
    border-radius: 3%;
    justify-content: space-between;
}

.h-content h4 {
    text-align: center;
    padding-bottom: 0.5em;
}