.names {
    color: #24513D;

    h2,
    h3,
    h4 {
        text-align: center;
    }
}

li {
    list-style: none outside;
}

.introduction {
    background: #24513D;
    color: white;
    border-radius: 50%;
    margin: 2em;
    padding: 3em;
    text-align: center;

    & h4 {
        color: white;
        text-align: center;
        text-decoration: underline;
    }

    & p {
        padding: 0 1em;
    }
}

.first-name-town h5,
.first-history-name h5,
.second-name h5,
.tsar-kaloqn h5,
.rilski-manastir h5,
.third-name h5,
.last-name-town h5 {
    text-decoration: underline;
    padding-bottom: 0.5em;
}

.first-name-town,
.second-name,
.rilski-manastir,
.last-name-town {
    width: 90%;
    padding-bottom: 1em;
}

.first-name-town h5,
.second-name h5,
.rilski-manastir h5,
.last-name-town h5,
.first-name-town p,
.second-name p,
.rilski-manastir p,
.last-name-town p {
    text-align: left;
    color: #24513D;
    margin-right: 3em;
}

.first-history-name,
.tsar-kaloqn,
.third-name {
    width: 90%;
    margin-left: 3em;
}

.first-history-name h5,
.tsar-kaloqn h5,
.third-name h5,
.first-history-name p,
.tsar-kaloqn p,
.third-name p {
    text-align: right;
    color: #24513D;
}

ul>li {
    display: block;
}
