.site-nav {
    margin: 1em 1em 1em 0;
    > ul {
      display: flex;
      padding: 0;
      text-align: center;
    }
    li {
      display: block;
      list-style: none outside;
      margin-right: 0.5em;
      &:first-child {
        padding-left: 0;
      }
    }
    a {
      display: block;
      padding: 0.5em 1.5em;
      border-radius: 0.3em;
      background: #435F49;
      color: #DEEABC;
    }
    li.selected > a {
      background: var(--color-body-bgrd);
      color: var(--color-link-default);
    }
    a {
      &:hover {
        background: var(--color-body-bgrd);
        color: var(--color-link-default);
      }
      i.fas:before {
        color: #000;
        margin-right: 0.5em;
      }
    }
    li.selected > a i.fas:before, a:hover i.fas:before {
      color: #EEE;
    }
  }